<div class="app-grid">
    <div class="add-group">
        <button class="btn btn-primary" *ngIf="!isAddRowVisible" (click)="add()">Add</button>
        <ng-container *ngIf="isAddRowVisible">
            <input [(ngModel)]="newItem.text" type="text" />
            <button class="btn btn-primary" (click)="save()">Save</button>
            <button class="btn" (click)="cancel()">Cancel</button>
        </ng-container>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Text</th>
                <th class="action">Edit</th>
                <th class="action">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let i = index">
                <td class="id">{{item.id}}</td>
                <td>{{item.text}}</td>
                <td class="action">
                    <button class="btn" (click)="edit(item)">Edit</button>
                </td>
                <td class="action">
                    <button class="btn" (click)="delete(item, i)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
