.app-image-convertor {
    .upload {
        height: 0;
        width: 0;
        visibility: hidden;
        opacity: 0;
    }
    .preview {
        display: block;
        margin-bottom: 1rem;
    }
}